{% extends "layout.html" %}

{% block content %}

    <!--fin sección-->
    <div class="container-fluid" style="margin-top: 5rem" id="inicio">
        <!--sección banner-->
        <div class="row p-0">
            <div class="col-md-5 text-end my-auto">
                <h1 class="text-end display-4 fw-bold">Hacemos felíz a tu <p class="text-mf-green">mascota</p></h1>
                <p class="fs-4">Tenemos para ti los mejores cuidados a grandes precios. Regístrate para conocer más</p>
                <button class="btn btn-mf-green">Regístrate</button>
            </div>
            <div class="col-md-7 p-0">
                <img src="{{url_for('static', filename = 'images/banner.jpg')}}">
            </div>
        </div>
    </div>
    <div class="container">
        <!--sección nuestros servicios-->
        <div class="row mt-5" id="servicios">
            <div class="col-12 text-center my-5">
                <h1 class="fw-bold">Nuestros <span class="text-mf-green">servicios</span></h1>
            </div>
            <div class="col-md-4">
                <div class="card mf-card">
                    <div class="card-body text-center py-auto">
                        <img src="{{url_for('static', filename = 'images/star_bronce.svg')}}" alt="mascota feliz plan bronce star">
                        <p class="fw-bold fs-4 text-mf-green">Plan bronce</p>
                        <small>baño mascota + corte pelo + domicilio</small>
                        <hr>
                        <p class="text-mf-green fs-5 fw-bold">$30.000 cop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mf-card">
                    <div class="card-body text-center py-auto">
                        <img src="{{url_for('static', filename = 'images/star_silver.svg')}}" alt="mascota feliz plan silver star" height="73">
                        <p class="fw-bold fs-4 text-mf-green">Plan plata</p>
                        <small>baño mascota + corte pelo + domicilio + limpieza de uñas</small>
                        <hr>
                        <p class="text-mf-green fs-5 fw-bold">$45.000 cop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mf-card">
                    <div class="card-body text-center py-auto">
                        <img src="{{url_for('static', filename = 'images/star_gold.svg')}}" alt="mascota feliz plan gold star" height="73">
                        <p class="fw-bold fs-4 text-mf-green">Plan premium</p>
                        <small>baño mascota + corte pelo + domicilio + limpieza de uñas +valoracion por veterinario</small>
                        <hr>
                        <p class="text-mf-green fs-5 fw-bold">$80.000 cop</p>
                    </div>
                </div>
            </div>
        </div>
        <!--sección sobre nosotros-->
        <div class="row mt-5" id="nosotros">
            <div class="col-md-4 offset-md-4 text-center my-5">
                <h1 class="fw-bold mb-5">Sobre <span class="text-mf-green">nosotros</span></h1>
                <p class="fs-5"> Mascota Feliz nace por la necesidad de prestar un servicio digno y de categoría a todas las mascotas que día a día están haciendo parte de nuestras familias,Nuestro objetivo es ofrecerles a todos nuestros clientes un plan de salud económico, capaz de satisfacer cualquier necesidad que su mascota requiera</p>
            </div>
            <div class="col-md-6 my-5">
                <h1 class="fw-bold mb-5">Nuestra <span class="text-mf-green">misión</span></h1>
                <p class="fs-5">Mascota Feliz tiene como misión el prestar de forma oportuna y ágil el servicio de atención y salud a todas las mascotas afiliadas a nuestra empresa brindando así un bienestar óptimo y agradable</p>
            </div>
            <div class="col-md-6 my-5">
                <h1 class="fw-bold mb-5">Nuestra <span class="text-mf-green">visión</span></h1>
                <p class="fs-5">Para el año 2025 la eps Mascota Feliz pretende ser la líder a nivel nacional en atención al usuario y afiliados brindando el mejor servicio a las mascotas en pro de su salud y bienestar</p>
            </div>
        </div>
        <!--sección contáctenos-->
        <div class="row my-5" id="contacto">
            <div class="col-md-6 offset-md-3 text-center">
                <h1 class="fw-bold my-5">Contáctenos</h1>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="escriba aquí su solicitud" maxlength="600"></textarea>
                </div>
                <button class="btn btn-mf-green">Enviar</button>
            </div>
        </div>
    </div>
{% endblock%}
