{% extends "layout.html" %}

{% block content %}
    <div class="container" style="margin-top: 10rem">
        <div class="row">
            <div class="col-md-6">
                <img src="{{url_for('static', filename = 'images/signin.png')}}" alt="mascota feliz login" class="img-fluid">
            </div>
            <div class="col-md-6 px-5 text-center">
                <h1 class="fw-bold fs-3">Crea una cuenta</h1>
                <p>¿ya tienes una cuenta? <a class="text-mf-green" href="">inicia sesión</a></p>
                <br>
                <form action="">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Dirección de email" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" name="nombres" placeholder="Nombres" minlength="4" maxlength="256" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" name="apellidos" placeholder="Apellidos" minlength="4" maxlength="256" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="number" class="form-control" name="telefono" placeholder="Número de teléfono" min="1000000" max="9999999999" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" name="direccion" placeholder="Dirección" min="1000000" max="9999999999" required>
                        </div>
                        <div class="col-12 mb-3">
                            <input type="password" class="form-control" name="password" placeholder="contraseña" minlength="8" maxlength="50" required>
                        </div>
                        <div class="col-12 mt-5 form-group">
                            <button class="btn btn-mf-green" type="submit">crear cuenta</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr></hr>
{% endblock%}    
